In [14]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [15]:
#напишіть функцію гіпотези лінійної регресії у векторному вигляді

def h(W, X):
    return np.dot(W, X.T)

In [16]:
#створіть функцію для обчислення функції втрат у векторному вигляді

def mse(w, X, Y):
    n = Y.shape[0]
    y_predicted = h(w, X)
    result = np.sum((y_predicted-Y)**2)/(2*n)
    return result

In [17]:
#реалізуйте один крок градієнтного спуску

def grad_step(X, Y, w_pred, learning_rate=0.0001):
    n = X.shape[0]
    y_pred = h(w_pred, X)
    gradient = (2 / n) * np.dot(X.T, (y_pred - Y))
    weights = w_pred - learning_rate*gradient
    return weights

In [18]:
#Градієнтний спуск

def gradient_descent(weights, X, Y, iterations=1000, learning_rate=0.0001, stopping_threashold = 0.00000001):
    previous_cost = None
    costs = []
    
    for i in range(iterations):
        cost = mse(weights, X, Y)
        if previous_cost and (abs(previous_cost-cost) <= stopping_threashold):
            break
        previous_cost = cost
        costs.append(cost)
        weights = grad_step(X, Y, weights, learning_rate=learning_rate)
    return weights, costs

In [19]:
#Нормалізація

def normalization(data):
    mean = np.mean(data)
    value_range = np.max(data) - np.min(data)
    result = []
    for x in data:
        norm_x = (x - mean)/value_range
        result.append(norm_x)
    return result

In [20]:
#знайдіть найкращі параметри w для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень

df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [21]:
df_norm = pd.DataFrame()
df_norm['price'] = normalization(df.price)
df_norm['ones'] = np.ones((545, ))
df_norm['area'] = normalization(df.area)
df_norm['bedrooms'] = normalization(df.bedrooms)
df_norm['bathrooms'] = normalization(df.bathrooms)

df_norm.head()

      price  ones      area  bedrooms  bathrooms
0  0.738811   1.0  0.155977  0.206972   0.237920
1  0.647902   1.0  0.261818  0.206972   0.904587
2  0.647902   1.0  0.330547  0.006972   0.237920
3  0.644872   1.0  0.161475  0.206972   0.237920
4  0.575175   1.0  0.155977  0.206972  -0.095413

In [26]:
X = df_norm[['ones', 'area', 'bedrooms', 'bathrooms']]
Y = df_norm['price']
W = np.zeros(X.shape[-1])
weights, loss_history = gradient_descent(W, X, Y)
weights

array([5.88198196e-18, 2.57687773e-03, 1.74175382e-03, 2.79173334e-03])

In [27]:
#знайдіть ці ж параметри за допомогою аналітичного рішення;

X = df_norm[['area', 'bedrooms', 'bathrooms']]
model = LinearRegression().fit(X, Y)
print (model.intercept_)

7.014204135081996e-17

In [24]:
#порівняйте отримані результати

print(f'My weights   : {weights}')
print(f'Model weights: {model.intercept_} ')

My weights   : [5.88198196e-18 2.57687773e-03 1.74175382e-03 2.79173334e-03]
Model weights: 7.014204135081996e-17